$primary: rgba(169, 132, 20, 0.7);
@import "~bulma";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

html {
    overflow-y: auto;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main .navigation,
.main .controls {
    flex: 0 0 auto;
}
.main .products {
    overflow-y: auto;
}

.product-name {
    width: 200px;
    justify-content: left;
}
